flows.json
[{"id":"7d7760a.ba677a","type":"tab","label":"SmartIntenz","disabled":false,"info":""},{"id":"d8085b7d.794f38","type":"function","z":"7d7760a.ba677a","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\n\n\n//following are required to receive a token\nvar apikey=\"NwKFHhiv--hhRhPznxOX06JAlfmvCn6dcEjqfTHmxAdB\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":100,"wires":[["bdec7d60.b703"]]},{"id":"32e09a00.d20fa6","type":"http request","z":"7d7760a.ba677a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/ee7d8aa4-7767-4274-ae7d-8d556248b952/deployments/c3259be1-a326-4054-a435-8ad0392305ef/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["9b2b5b69.2af308","8e0f7cbc.3c001"]]},{"id":"a02b5c2.ca00ca","type":"debug","z":"7d7760a.ba677a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"8e0f7cbc.3c001","type":"function","z":"7d7760a.ba677a","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0]+\" Grade\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":280,"wires":[["a02b5c2.ca00ca","c9b7cdc5.842c3","a432f851.95a468"]]},{"id":"9b2b5b69.2af308","type":"debug","z":"7d7760a.ba677a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"96fd5708.1bf768","type":"function","z":"7d7760a.ba677a","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"ee7d8aa4-7767-4274-ae7d-8d556248b952\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',\n       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',\n       'pH', 'sulphates', 'alcohol'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":180,"wires":[["32e09a00.d20fa6"]]},{"id":"bdec7d60.b703","type":"http request","z":"7d7760a.ba677a","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":80,"wires":[["96fd5708.1bf768"]]},{"id":"c9b7cdc5.842c3","type":"ui_text","z":"7d7760a.ba677a","group":"f7ae0d3e.020b4","order":2,"width":"6","height":"1","name":"","label":"-: Quality of Red Wine is  :-","format":"{{msg.payload}}","layout":"col-center","x":790,"y":340,"wires":[]},{"id":"45199863.3f0c18","type":"ui_audio","z":"7d7760a.ba677a","name":"","group":"f7ae0d3e.020b4","voice":"en-US","always":"","x":720,"y":440,"wires":[]},{"id":"a432f851.95a468","type":"function","z":"7d7760a.ba677a","name":"audio_fn","func":"msg.payload='Quality of Red Wine is :'+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":400,"wires":[["45199863.3f0c18"]]},{"id":"88a0b887.e7f2e8","type":"ui_form","z":"7d7760a.ba677a","name":"","label":"","group":"f7ae0d3e.020b4","order":1,"width":0,"height":0,"options":[{"label":"Fixed Acidity","value":"a","type":"number","required":true,"rows":null},{"label":"Volatile Acidity","value":"b","type":"number","required":true,"rows":null},{"label":"Citric Acid","value":"c","type":"number","required":true,"rows":null},{"label":"Residual Sugar","value":"d","type":"number","required":true,"rows":null},{"label":"Chlorides","value":"e","type":"number","required":true,"rows":null},{"label":"Free sulfur dioxide","value":"f","type":"number","required":true,"rows":null},{"label":"Total sulfur dioxide","value":"g","type":"number","required":true,"rows":null},{"label":"Density","value":"h","type":"number","required":true,"rows":null},{"label":"pH","value":"i","type":"number","required":true,"rows":null},{"label":"Sulphates","value":"j","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"k","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":50,"y":40,"wires":[["d8085b7d.794f38"]]},{"id":"f7ae0d3e.020b4","type":"ui_group","z":"","name":"---------WELCOME-----------","tab":"b10225f.abf08d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b10225f.abf08d8","type":"ui_tab","z":"","name":"Red Wine Quality Prediction","icon":"dashboard","disabled":false,"hidden":false}]